"*":
  core:
    autoHideMenuBar: true
    ignoredNames: [
      "*.class"
    ]
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "711c869f-7170-8329-b0d3-d0bf1cb79a10"
  "file-icons": {}
  "fuzzy-finder": {}
  minimap: {}
  "one-dark-ui": {}
  tabs:
    tabScrolling: true
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
