"*":
  "api-docs":
    _theme: "Dark"
  "atom-beautify":
    general:
      _analyticsUserId: "28003340-2ec3-4fe3-bce0-feb88dd60f30"
    php:
      cs_fixer_path: "~/.composer/vendor/bin/php-cs-fixer"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "spell-check"
    ]
    ignoredNames: [
      "*.class"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 13
    invisibles: {}
    softTabs: false
    softWrap: true
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "711c869f-7170-8329-b0d3-d0bf1cb79a10"
  "file-icons": {}
  "fuzzy-finder": {}
  linter:
    errorPanelHeight: 307
  minimap: {}
  "one-dark-ui": {}
  script:
    stopOnRerun: true
  "spell-check": {}
  "status-bar": {}
  tabs:
    tabScrolling: true
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".beamer.latex.tex.text":
  editor:
    tabLength: 4
".bibtex.text":
  editor:
    tabLength: 4
".latex.log.text":
  editor:
    tabLength: 4
".latex.memoir.tex.text":
  editor:
    tabLength: 4
".latex.tex.text":
  editor:
    tabLength: 4
".tex.text":
  editor:
    tabLength: 4
"linter-chktex":
  chktexArgs: [
    "-wall"
    "-n22"
    "-n30"
    "-e16"
  ]
  executablePath: "C:\\texlive\\2016\\bin\\win32\\chktex.exe"
